node_modules/
.env
.env.local
.env.production
.env.development

backend/.env
backend/node_modules
backend/.env
backend/.env.txt
backend/.env.example


frontend/.env
frontend/node_modules

frontend/.env.example
frontend/.env.txt
frontend/gitignore.txt



frontend/dev.log

